<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo</title>
</head>
<body>
    <h1>Tempo em {{ city_name }}</h1>
    
    {% if weather_data %}
        <p>Descrição: {{ weather_data.weather_description }}</p>
        <p>Temperatura: {{ weather_data.temperature }}°C</p>
        <p>Humidade: {{ weather_data.humidity }}%</p>
        <p>Nuvens: {{ weather_data.cloudiness }}%</p>
    {% else %}
        <p>Nenhuma informação disponível.</p>
    {% endif %}
</body>
</html>
